.u-section-1 .u-sheet-1 {
  min-height: 200px;
}.u-section-2 {
  background-image: url("images/bg.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
    min-height: 411px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 315px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 932px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    background-position: 0% 50%;
    min-height: 3px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 149px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 737px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 363px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-shape-1 {
  width: 60px;
  height: 40px;
  animation-duration: 1000ms;
  background-image: none;
  margin: 147px 498px 0 auto;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 1.875rem;
  letter-spacing: 0px;
  background-image: none;
  font-style: normal;
  font-family: "Noto Sans";
  font-weight: 700;
  margin: -94px 40px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 174px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: -1px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 90px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-3 .u-shape-1 {
    width: 48px;
    height: 30px;
    margin-top: 125px;
    margin-right: 406px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -91px;
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 37px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-3 .u-shape-1 {
    width: 45px;
    margin-top: 133px;
    margin-right: 299px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    width: 660px;
    margin-top: -87px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 110px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -5px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    width: 35px;
    height: 24px;
    margin-top: 130px;
    margin-right: 235px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    width: 520px;
    margin-top: -83px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: -75px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 242px;
  }

  .u-section-3 .u-shape-1 {
    width: 45px;
    height: 30px;
    margin-top: 147px;
    margin-right: 129px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -86px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1035px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-decoration: underline !important;
  width: 350px;
  margin: 90px auto 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 556px;
  margin: 40px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  background-image: none;
  margin: 37px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-bottom: -171px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-bottom: -425px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 527px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-bottom: -754px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 332px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 22px;
    margin-bottom: -338px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1145px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  text-decoration: underline !important;
  font-weight: 700;
  width: 500px;
  font-family: "Noto Sans";
  margin: 115px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 450px;
  grid-gap: 17px 17px;
  width: 1140px;
  margin: 60px auto 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: -1px;
  margin: 60px 0 100px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-5 .u-gallery-1 {
    height: 371px;
    grid-template-columns: repeat(3, auto);
    width: 940px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-5 .u-gallery-1 {
    height: 950px;
    grid-template-columns: auto auto;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2012px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 100px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1420px;
    grid-template-columns: repeat(1, auto);
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    margin-bottom: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3896px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3353px;
    width: 340px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-text-2 {
    margin-right: auto;
    margin-bottom: 60px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 280px;
}

.u-section-6 .u-group-1 {
  width: 800px;
  min-height: 250px;
  margin: 30px auto -839px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-decoration: underline !important;
  width: 500px;
  margin: 55px auto 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 106px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 0;
    margin-bottom: -1721px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    margin-bottom: -400px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: 66px;
    margin-right: 66px;
    font-size: 0.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: -466px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 320px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 540px;
}

.u-section-7 .u-tabs-1 {
  min-height: 251px;
  margin: 63px auto 0 0;
}

.u-section-7 .u-tab-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -2px;
}

.u-section-7 .u-tab-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -2px;
}

.u-section-7 .u-tab-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -2px;
}

.u-section-7 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-7 .u-tab-link-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -2px;
}

.u-section-7 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-7 .u-tab-link-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -2px;
}

.u-section-7 .u-tab-link-6 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -2px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 0 750px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  margin: 22px 311px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: -30px -30px 0;
}

.u-section-7 .u-text-4 {
  font-size: 1rem;
  margin: 0 -30px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: -30px -30px 0;
}

.u-section-7 .u-text-6 {
  font-size: 1rem;
  margin: 0 -30px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: -30px -30px 0;
}

.u-section-7 .u-text-8 {
  font-size: 1rem;
  margin: 0 -30px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: -30px -30px 0;
}

.u-section-7 .u-text-10 {
  font-size: 1rem;
  margin: 0 -30px;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  margin: -30px -30px 0;
}

.u-section-7 .u-text-12 {
  font-size: 1rem;
  margin: 0 -30px;
}

.u-section-7 .u-tabs-2 {
  min-height: 251px;
  margin: 30px auto 100px 0;
}

.u-section-7 .u-tab-link-7 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -2px;
}

.u-section-7 .u-tab-link-8 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -2px;
}

.u-section-7 .u-tab-link-9 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -2px;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 676px 0 0;
}

.u-section-7 .u-text-14 {
  font-size: 1rem;
  margin: 22px 0 0;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px;
}

.u-section-7 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: -30px -30px 0;
}

.u-section-7 .u-text-16 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px;
}

.u-section-7 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: -30px -30px 0;
}

.u-section-7 .u-text-18 {
  font-size: 1rem;
  margin: 0 -30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-tab-link-1 {
    font-size: 1rem;
    letter-spacing: -3px;
  }

  .u-section-7 .u-tab-link-2 {
    font-size: 1rem;
    letter-spacing: -3px;
  }

  .u-section-7 .u-tab-link-3 {
    font-size: 1rem;
    letter-spacing: -3px;
  }

  .u-section-7 .u-tab-link-4 {
    font-size: 1rem;
    letter-spacing: -3px;
  }

  .u-section-7 .u-tab-link-5 {
    font-size: 1rem;
    letter-spacing: -3px;
  }

  .u-section-7 .u-tab-link-6 {
    font-size: 1rem;
    letter-spacing: -3px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 550px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 111px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-tabs-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-13 {
    margin-right: 476px;
  }

  .u-section-7 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 330px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-13 {
    margin-right: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-13 {
    margin-right: 116px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-16 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-7 .u-tabs-1 {
    min-height: 420px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-tab-link-1 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-tab-link-2 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-tab-link-3 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-tab-link-4 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-tab-link-5 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-tab-link-6 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-1 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-9 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-7 .u-text-10 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-12 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-tabs-2 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-tab-link-7 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-tab-link-8 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-tab-link-9 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-13 {
    font-size: 1rem;
    letter-spacing: -1px;
    margin-right: 0;
  }

  .u-section-7 .u-text-14 {
    font-size: 0.875rem;
  }

  .u-section-7 .u-text-15 {
    font-size: 1rem;
    letter-spacing: -2px;
  }

  .u-section-7 .u-text-16 {
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-7 .u-text-17 {
    font-size: 1rem;
    letter-spacing: -1px;
  }

  .u-section-7 .u-text-18 {
    font-size: 0.875rem;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 172px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 120px 407px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 52px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -601px;
    margin-left: 307px;
    margin-right: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -774px;
    margin-left: 197px;
    margin-right: 197px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-top: -1065px;
    margin-left: 107px;
    margin-right: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 90px;
    margin-left: 7px;
    margin-right: 7px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 650px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 60px 0 100px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 688px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-9 .u-image-1 {
  width: 255px;
  height: 255px;
  background-image: url("images/aire_coffee_1175870281906498891565267595619940043061881n.jpg");
  background-position: 50% 50%;
  margin: 25px auto 0;
}

.u-section-9 .u-text-1 {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: 80px;
  margin: 20px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1rem;
  width: 350px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 567px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: -152px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: -211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 652px;
  }

  .u-section-9 .u-text-1 {
    margin-left: auto;
  }

  .u-section-9 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 550px;
}

.u-section-10 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 688px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  width: 255px;
  height: 255px;
  background-image: url("images/pd__bb_1031027302953545449384307460923323999079922n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-10 .u-text-1 {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: 80px;
  margin: 21px auto 0;
}

.u-section-10 .u-text-2 {
  font-size: 1rem;
  margin: 19px 120px 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 688px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-10 .u-image-2 {
  width: 255px;
  height: 255px;
  background-image: url("images/pd__bb_1034300752893641991014822958943592923106940n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-10 .u-text-3 {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: 80px;
  margin: 20px auto 0;
}

.u-section-10 .u-text-4 {
  font-size: 1rem;
  width: 170px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 174px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 567px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: -51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 127px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-1 {
    margin-left: auto;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 60px;
  }

  .u-section-10 .u-text-2 {
    font-size: 0.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-top: 60px;
  }

  .u-section-10 .u-text-3 {
    margin-left: auto;
  }

  .u-section-10 .u-text-4 {
    font-size: 0.875rem;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 316px;
}

.u-section-11 .u-text-1 {
  width: 780px;
  font-weight: normal;
  margin: 116px auto 0;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  border-style: none;
  margin: 20px auto 60px;
  padding: 15px 51px 15px 50px;
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 520px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 0 auto 0 42px;
}

.u-section-12 .u-shape-2 {
  width: 250px;
  height: 78px;
  margin: -137px 42px 59px auto;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none solid rgb(255, 255, 255);
  font-size: 1.25rem;
  width: 199px;
  margin: 92px auto 0;
}

.u-section-12 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: -1px;
  margin: 20px 0 0;
}

.u-section-12 .u-icon-1 {
  height: 30px;
  width: 30px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-12 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-12 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-12 .u-shape-2 {
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-shape-1 {
    margin-top: 6px;
    margin-left: 71px;
  }

  .u-section-12 .u-shape-2 {
    margin-top: -143px;
    margin-right: 60px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-12 .u-shape-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-12 .u-shape-2 {
    margin-top: -137px;
    margin-right: 0;
  }
}.u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 541px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 242px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-decoration: underline !important;
  margin: 0 240px 0 0;
}

.u-section-13 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 78px auto 0 0;
}

.u-section-13 .u-icon-1 {
  height: 100%;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 217px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: none;
  font-family: "Noto Sans";
  margin: 20px 368px 0 0;
}

.u-section-13 .u-text-3 {
  font-size: 1rem;
  margin: 20px 70px 0 0;
}

.u-section-13 .u-layout-cell-3 {
  min-height: 216px;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px 30px 55px;
}

.u-section-13 .u-text-4 {
  font-family: "DM Serif Display";
  font-size: 1.5rem;
  margin: 80px 387px 0 0;
}

.u-section-13 .u-layout-cell-4 {
  min-height: 220px;
}

.u-section-13 .u-container-layout-4 {
  padding: 30px 30px 55px;
}

.u-section-13 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-5 {
  font-size: 1rem;
  margin: 20px 257px 0 0;
}

.u-section-13 .u-btn-1 {
  padding: 0;
}

.u-section-13 .u-btn-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 140px;
  }

  .u-section-13 .u-text-2 {
    width: auto;
    margin-right: 271px;
  }

  .u-section-13 .u-text-3 {
    margin-right: 0;
  }

  .u-section-13 .u-text-4 {
    margin-right: 287px;
  }

  .u-section-13 .u-text-5 {
    width: auto;
    margin-right: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-13 .u-text-4 {
    margin-right: 177px;
  }

  .u-section-13 .u-text-5 {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-13 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    margin-right: 0;
  }

  .u-section-13 .u-text-4 {
    margin-right: 0;
  }

  .u-section-13 .u-text-5 {
    margin-right: 0;
  }
}