.u-section-1 {
  background-image: url("images/aire_coffee_1063890827045384170035686048487501989934253n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 411px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 315px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 932px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 0% 50%;
    min-height: 236px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1190px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 149px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 553px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 120px;
  margin-bottom: -81px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 139px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  animation-duration: 10000ms;
  font-size: 1.875rem;
  font-style: italic;
  letter-spacing: 1px;
  background-image: none;
  width: 500px;
  font-family: Georgia, serif;
  font-weight: normal;
  margin: 11px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 174px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-family: "Noto Sans";
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: -274px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 320px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    letter-spacing: -1px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 90px 367px 0;
}

.u-section-3 .u-image-1 {
  width: 427px;
  height: 570px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  width: 868px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: -1px;
  width: 892px;
  margin: 20px auto 60px;
}

.u-section-3 .u-btn-1 {
  text-decoration: underline !important;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 267px;
    margin-right: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 157px;
    margin-right: 157px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1277px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 454px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    margin-bottom: -304px;
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 899px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 779px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  width: 500px;
  min-height: 500px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: -2px;
  font-weight: 700;
  background-image: none;
  font-size: 1.875rem;
  margin: 137px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none solid rgb(51, 47, 41);
  margin: 20px 18px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-style: italic;
  font-weight: 700;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 779px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 614px;
  margin: 135px auto -30px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 659px;
  }

  .u-section-4 .u-group-1 {
    min-height: 395px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 642px;
  }

  .u-section-4 .u-image-1 {
    height: 494px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 525px;
  }

  .u-section-4 .u-group-1 {
    min-height: 301px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    min-height: 391px;
    width: 305px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 657px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 626px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-4 .u-group-1 {
    min-height: 340px;
  }

  .u-section-4 .u-text-1 {
    letter-spacing: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-4 .u-image-1 {
    height: 385px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 541px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 242px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-decoration: underline !important;
  margin: 0 240px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 78px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 217px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: none;
  font-family: "Noto Sans";
  margin: 20px 368px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: 20px 70px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 261px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 55px;
}

.u-section-5 .u-text-4 {
  font-family: "DM Serif Display";
  font-size: 1.5rem;
  margin: 80px 354px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 220px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 30px 55px;
}

.u-section-5 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  margin: 20px 257px 0 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-btn-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 140px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 179px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 268px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 215px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 254px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 181px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 158px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 144px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -114px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-2 {
    height: 38px;
    width: 38px;
  }

  .u-section-5 .u-text-2 {
    letter-spacing: 1px;
    font-family: "DM Serif Display";
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-3 {
    height: 38px;
    width: 38px;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }
}