.u-section-1 .u-sheet-1 {
  min-height: 200px;
}.u-section-2 {
  background-image: url("images/482ff038ce9ae880163195600d450e24fa5f0a79ef9a9df82972af4c984ff3d33468f4f34cb661c87940d4215f7cea7a2a451ff5b4678e553bd3d2_1280.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 411px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 315px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 932px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    background-position: 0% 50%;
    min-height: 3px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 149px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 520px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 1px;
  text-decoration: none solid rgb(255, 255, 255);
  font-size: 1.875rem;
  font-weight: 700;
  width: 350px;
  text-transform: none;
  margin: 92px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: -1px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 6px;
    margin-left: 71px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 0;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 520px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 1px;
  text-decoration: none solid rgb(255, 255, 255);
  font-size: 1.875rem;
  font-weight: 700;
  width: 350px;
  text-transform: none;
  margin: 92px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: -1px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 30px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 6px;
    margin-left: 71px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 0;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 520px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 1px;
  text-decoration: none solid rgb(255, 255, 255);
  font-size: 1.875rem;
  font-weight: 700;
  width: 350px;
  text-transform: none;
  margin: 92px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: -1px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 6px;
    margin-left: 71px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 0;
    margin-left: 0;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 172px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 120px 407px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 52px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -601px;
    margin-left: 307px;
    margin-right: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -774px;
    margin-left: 197px;
    margin-right: 197px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: -1065px;
    margin-left: 107px;
    margin-right: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 90px;
    margin-left: 7px;
    margin-right: 7px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 316px;
}

.u-section-7 .u-text-1 {
  width: 780px;
  font-weight: normal;
  margin: 116px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  border-style: none;
  margin: 20px auto 60px;
  padding: 15px 51px 15px 50px;
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 541px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 242px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-decoration: underline !important;
  margin: 0 240px 0 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 78px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 217px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: none;
  font-family: "Noto Sans";
  margin: 20px 368px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1rem;
  margin: 20px 70px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 216px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 30px 55px;
}

.u-section-8 .u-text-4 {
  font-family: "DM Serif Display";
  font-size: 1.5rem;
  margin: 80px 387px 0 0;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 220px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 30px 55px;
}

.u-section-8 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-5 {
  font-size: 1rem;
  margin: 20px 257px 0 0;
}

.u-section-8 .u-btn-1 {
  padding: 0;
}

.u-section-8 .u-btn-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 140px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: 271px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 287px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-right: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 30px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 177px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
  }
}